* {
  margin: 0;
}

.app {
  display: grid;
  place-items: center;
  height: 98vh;
  background-color: #FBD8B8;
}


.app_body{
  display: flex;
  background-color: lightgrey;
  height: 95vh;
  width: 98vh;
  box-shadow: 10px 10px 10px -2px #3D3D3D;
}