* {
  margin: 0;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #0e1621;
}

.app_body{
  display: flex;
  background-color: lightgrey;
  height: 90vh;
  width: 90vh;
}