* {
    margin: 0;
}

.app{
    display: grid;
    place-items: center;
    background-color: lightskyblue;
}

.app_body{
    display: flex;
    background-color: lightgrey;
    height: 90vh;
    width: 90vh;
}