.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar_header{
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

.sidebar_header_left{
    align-items: center;
}

.sidebar_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 10px;
}

.sidebar_search_container{
    display: flex;
    margin-top: 8px;
    align-items: center;
    background-color: #f6f6f6;
    width: 98%;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.sidebar_search_container > .MuiSvgIcon-root{
    color: grey;
    padding: 8px;
}

.sidebar_search_container > input{
    border: none;
    margin: 2px 5px;
    width: 100%;
    outline-width: 0;
}

.sidebar_chat{
    flex: 1;
    background-color: white;
    /*prova overflow*/
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
